@model Turntabl.RoleService.Models.Employee

@{
    ViewBag.Title = Model.Name;
    //ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2>Details</h2>*@
<h2>@Model.Name</h2>
<ul>
    <li>Email: @Model.Email</li>
    <li>Phone Number: @Model.PhoneNumber</li>
    <li>Address: @Model.Address</li>
</ul>


