@model Turntabl.RoleService.Models.Employee

@{
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name</h2>
<hr />

<ul>
    @if (Model.Email != null)
    {
        <li>Email: @Model.Email</li>
    }

    @if (Model.PhoneNumber != null)
    {
        <li>Phone Number: @Model.PhoneNumber</li>
    }

    @if (Model.Address != null)
    {
        <li>Address: @Model.Address</li>
    }

    @if ((Model.Email == null) && (Model.PhoneNumber == null) && (Model.Address == null))
    {
        <li>No details available</li>
    }
</ul>


