@model IEnumerable<Turntabl.RoleService.Models.Project>

@{
    ViewBag.Title = "Projects";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Projects</h2>
<br />
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Project</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var project in Model)
        {
            <tr>
                <td>@project.Name</td>
            </tr>
        }
    </tbody>
</table>
